services:
  - type: web
    name: portafolio
    runtime: docker
    plan: free
    region: oregon
    buildCommand: docker build -t laravel-app .
    startCommand: "a2enmod rewrite && apache2-foreground"
    envVars:
      # Laravel config
      - key: APP_ENV
        value: local
      - key: APP_DEBUG
        value: "true"
      - key: APP_KEY
        value: "base64:WuZGLZjdMGsVb4EJ7oon//7aOutQa3J+5n94WkOg+WE="
      - key: APP_URL
        value: "http://localhost"

      - key: DB_CONNECTION
        value: pgsql
      - key: DB_HOST
        value: "dpg-cvjhfgh5pdvs73ca0ur0-a"
      - key: DB_PORT
        value: "5432"
      - key: DB_DATABASE
        value: "portafolio_4nq5"
      - key: DB_USERNAME
        value: "portafolio_user"
      - key: DB_PASSWORD
        sync: false
      - key: DATABASE_URL
        value: "postgresql://portafolio_user:mpg1U3mjzMim8gBiIRO1uFFAnEYOsCAX@dpg-cvjhfgh5pdvs73ca0ur0-a/portafolio_4nq5"
    # Health check
    healthCheckPath: /
    healthCheckInitialDelay: 200